[display]
refresh = 0.5
type = epd2in13
columns = wp,rows
margins = 3
font = /usr/share/fonts/truetype/wqy/wqy-microhei.ttc
size = 13

[panel-btns]
panel = text
text = Pl-Pau, VolUp, VolDn

[panel-wp]
panel = wallpaper
path = /usr/local/share/misplay/wallpapers
interval = 3600
width = 80
height = 100

[panel-rows]
panel = rows
rows = btns,time,mpd,ipc
width = 170
height = 122

[panel-time]
panel = time
size = 18
dtsize = 14
date = true

[panel-mpd]
panel = mpd
mpd = /run/mpd/socket

[panel-ipc]
panel = ipc
sources = fifo
fifo = /tmp/misplay.sock
ttl = 5
lines = 1
mqttuser =
mqttpassword = 
mqtthost = 
mqttport = 8883
mqtttopic =
mqttuid = 
mqttssl = true
mqttca = 

[epd2in13]
height = 122
width = 250
rotate = 0

[reporter]
enable = false
url = smtp://smtp.example.com
