[Unit]
Description=Miscellaneous Display

[Service]
Type=simple
ExecStart=/usr/local/share/misplay/run.py -q
Restart=always

[Install]
WantedBy=multi-user.target
